p{
    color:azure;
}
*{
    color:rgb(255, 255, 255);
}
#mainContainer{
    border: 10px solid ;
    border-radius: 50px;
    width: 175px;
    height: 175px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;;
    background-color: black;
}
#mainContainer h2,p{
    padding: 14px;
}